/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
.header {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.page-link {
  font-family: 'Inter', sans-serif !important;
  font-size: 2rem;
  font-weight: 700 !important;
  border: none !important;
  outline: none;
  color: black !important;
}
.page-link :hover {
  background-color: none !important;
}
.App-header {
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-top: 8px solid red;
}
.ui-outer {
  background-color: #f5f5f5;
}
.ui-container {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 64rem;
  background-color: #f5f5f5;
  margin-left: auto;
  margin-right: auto;
}
.content-text {
  color: gray;
  font-weight: 450;
}
.textareastyle {
  font-size: larger;
}
.textareastyle :focus {
  border: 3px solid skyblue;
}

/*------------------------demo-poll-----------------------------*/
.heading {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.25;
  --text-opacity: 1;
  color: #070a39;
  color: rgba(7, 10, 57, var(--text-opacity));
  text-align: center;
}
.inputfield {
  width: 95%;
}
.delete {
  font-size: 1.5rem;
  border: none;
  outline: none;
  background-color: transparent;
}

/*------------------------universal--------------------------------*/
.cursor-pointer {
  cursor: pointer;
}
.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.outline-none {
  outline: none;
}
.bg-gray-200 {
  background-color: rgba(237, 242, 247);
}
.bg-gray-200:hover {
  background-color: rgba(173, 216, 230);
}
.radio-label:hover {
  border: 2px solid skyblue;
  transform: scale(1.1);
  animation: overlay 1s;
}
.radio-label:focus-within {
  border: 3px solid skyblue;
  transform: scale(1.1);
}
@keyframes overlay {
  from {
    margin-left: 5%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
